@{
    ViewBag.Title = "Shops Page";
}



<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Shops</h3>
    </div>
    <div class="panel-body">
        <table class="table table-sm ">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Mode Of Work</th>
                </tr>
            </thead>
            <tbody id="shop-table"></tbody>
        </table>
    </div>
</div>


<script src="~/Scripts/jquery-3.0.0.min.js"></script>
@section scripts {
    <script src="~/Scripts/Controllers/ShopController.js"></script>
}
